* {
	font-family: 'Libre Franklin', sans-serif;
	box-sizing: border-box;
}

:root {
	--graphHeight: 300px;
	--lightGray: rgb(152, 164, 178);
	--medGray: rgb(66, 76, 87);
	--darkGray: rgb(37, 44, 52);
	--alert: rgb(138, 24, 11);
	--alertBright: rgb(247, 192, 186);
}

body {
	margin: 30px;
	margin-left: 60px;
}

h2 {
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 1.5rem;
}

h3 {
	margin: 0px;
}

p {
	font-size: 0.8rem;
	margin: 0px;
	margin-bottom: 4px;
}

.flexLineBreak {
	width: 100%;
}

.userInfoSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--medGray);
	border-radius: 10px;
	border: solid 5px var(--darkGray);
}

.userNameImageContainer {
	display: flex;
	align-items: center;
	margin: 10px auto;
	flex-basis: auto;
	background-color: var(--lightGray);
	border: solid 5px var(--darkGray);
	padding: 20px;
	border-radius: 10px;
	text-decoration: none;
}

.userNameImageContainer img {
	margin-right: 10px;
	border: solid 2px var(--darkGray);
}

.userNameImageContainer h2 {
	font-size: 1.5rem;
	color: black;
}

.nameStack h2:nth-child(2) {
	font-weight: 400;
}

.textStack,
.formContainer,
.gameDataPoint {
	background-color: var(--darkGray);
	color: var(--lightGray);
	border: solid 5px var(--lightGray);
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
}

.textStack h4 {
	margin: 0px;
	margin-top: 5px;
	font-weight: 400;
}

.alertText,
.alertTextInvert {
	background-color: var(--alert);
	color: var(--alertBright);
	padding: 10px;
	border-radius: 10px;
	margin: 5px 0px;
}

.alertText {
	background-color: var(--alert);
	color: var(--alertBright);
}

.alertTextInvert {
	background-color: var(--alertBright);
	color: var(--alert);
}

.formContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 5px 0px;
}

.formContainer input {
	margin-left: 10px;
}

input[type=text] {
	background-color: var(--lightGray);
}

input[type=submit] {
	background-color: var(--medGray);
	color: var(--lightGray);
	border: solid 1px var(--lightGray);
	padding: 2px 5px;
}

input[type=submit]:hover {
	background-color: var(--darkGray);
}

.gamesInfoSection {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--lightGray);
	border: solid 5px var(--darkGray);
	padding: 10px;
	border-radius: 10px;
	margin-top: 5px;
}

.gameDataPoint {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: solid 5px var(--medGray);
	flex: 1;
	margin-bottom: 10px;
}

.gameDataPoint h3 {
	display: inline-block;
	width: auto;
}

.gameDataPoint h3:nth-child(1) {
	font-weight: 400;
}

.timePlayedContainer {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.timePlayedContainer h3 {
	background-color: var(--lightGray);
	color: var(--darkGray);
	padding: 10px;
	border-radius: 10px;
	font-weight: 400;
}

.achievementSortOrder {
	margin-bottom: 20px;
}

.achievementGraph {
	position: relative;
}

.achievementGraph {
	display: flex;
	align-items: flex-end;
	height: var(--graphHeight);
	width: 100%;
}

.graphVerticalBar {
	display: flex;
	flex-direction: column;
}

.horizontalGraphLine {
	width: 100%;
	height: 1px;
	position: absolute;
	opacity: 0.3;
}

.ninetyPercent {
	background-color: yellowgreen;
	top: calc(var(--graphHeight)*0.1);
}

.fiftyPercent {
	background-color: yellow;
	top: calc(var(--graphHeight)/2);
}

.tenPercent {
	background-color: rgb(252, 108, 108);
	top: calc(var(--graphHeight)*0.9);
}

.averagePercentLine {
	background-color: white;
	height: 3px;
	opacity: 0.8;
}

.gameTitleInfo {
	display: flex;
	align-items: flex-end;
	margin-top: 10px;
}

.gameTitleInfo>* {
	display: inline-block;
	margin-right: 10px;
}

.gameTitleLink {
	font-size: 1.5rem;
	font-weight: 600;
	color: black;
}

.dlc,
.notPlayed {
	padding: 3px;
	border-radius: 10px;
	color: white;
}

.dlc {
	background-color: rgb(153, 153, 241);
}

.notPlayed {
	background-color: rgb(241, 153, 153);

}

.averagePercent {
	padding: 3px;
	margin: 3px 0px;
}

.achievementList {
	display: flex;
	flex-wrap: wrap;
}

.achievementList div {
	display: flex;
	align-items: flex-start;
	margin-top: 1px;
	margin-right: 1px;
	/* border: solid 1px rgb(255, 255, 255); */
}

.achievementList h3 {
	display: inline-block;
	padding: 3px;
	padding-top: 15px;
	min-width: 65px;
	height: 50px;
}

.achieved {
	color: white;
}

.achievementLink {
	font-size: 1.15rem;
	color: black;
}

.bottomItem {
	margin-bottom: 20px;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

.gameWithoutAchievementsDivision {
	background-color: black;
	color: white;
	padding: 5px;
}

.gameWithoutAchievementsDivision,
.gameWithoutAchievements {
	margin: 20px 0px;
}