* {
  font-family: 'Libre Franklin', sans-serif;
  box-sizing: border-box;
}

body {
	margin: 30px;
	margin-left: 60px;
}
h2 {
	margin-bottom: 0px;
}
h3 {
	margin: 0px;
}
p {
	margin: 0px;
	margin-bottom: 4px;
}

.gameTitleInfo {
	display: flex;
	align-items:flex-end;
}
.gameTitleInfo > * {
	display: inline-block;
	padding-right: 10px;
}

.achievementList {
	display: flex;
	flex-wrap: wrap;
}
.achievementList h3 {
	display: inline-block;
	padding: 3px;
	min-width: 58px;
}
.averagePercent {
	margin-right: 10px;
}
.achieved {
	color: white;
}