* {
	font-family: 'Libre Franklin', sans-serif;
	box-sizing: border-box;
}

:root {
	--graphHeight: 150px;
	--graphBackground: rgb(255, 255, 255);
	--lightGray: rgb(152, 164, 178);
	--medGray: rgb(66, 76, 87);
	--darkGray: rgb(37, 44, 52);
	--background: rgb(14, 18, 24);
	--alert: rgb(138, 24, 11);
	--alertBright: rgb(247, 192, 186);
	--dlc: rgb(57, 62, 137);
	--notPlayed: rgb(137, 62, 57);
	--transitionSpeed: 0.4s;
}

body {
	margin: 30px;
	margin-left: 60px;
	background-color: var(--background);
}

h2 {
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 1.5rem;
}

h3 {
	margin: 0px;
}

p {
	font-size: 0.8rem;
	margin: 0px;
	margin-bottom: 4px;
}

.loadingText {
	color: var(--lightGray);
	margin: 20px auto;
	text-align: center;
}

.flexLineBreak {
	width: 100%;
}

.userInfoSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--medGray);
	border-radius: 10px;
	border: solid 5px var(--darkGray);
}

.userNameImageContainer,
.gameTitleLink,
.achievementLink {
	display: flex;
	align-items: center;
	flex-basis: auto;
	border-radius: 10px;
	text-decoration: none;
	padding: 5px;
}

.userNameImageContainer {
	margin: 10px auto;
	padding: 20px;
	background-color: var(--lightGray);
	border: solid 5px var(--darkGray);
	color: var(--darkGray);
	transition: all var(--transitionSpeed);
}

.userNameImageContainer:hover {
	background-color: var(--darkGray);
	color: var(--lightGray);
	border: solid 5px var(--lightGray);
	transition: all var(--transitionSpeed);
}

.userNameImageContainer img,
.gameTitleLink img {
	margin-right: 10px;
	border: solid 2px var(--darkGray);
}

.userNameImageContainer h2 {
	font-size: 1.5rem;
}

.nameStack h2:nth-child(2) {
	font-weight: 400;
}

.textStack,
.formContainer,
.gameDataPoint,
.sortOptionContainer {
	background-color: var(--darkGray);
	color: var(--lightGray);
	border: solid 5px var(--lightGray);
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
}

.textStack h4 {
	margin: 0px;
	margin-top: 5px;
	font-weight: 400;
}

.alertText,
.alertTextInvert {
	background-color: var(--alert);
	color: var(--alertBright);
	padding: 10px;
	border-radius: 10px;
	margin: 5px 0px;
}

.alertText {
	background-color: var(--alert);
	color: var(--alertBright);
}

.alertTextInvert {
	background-color: var(--alertBright);
	color: var(--alert);
}

.formContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 5px 0px;
}

.formContainer input {
	margin-left: 10px;
}

input[type=text] {
	background-color: var(--lightGray);
}

input[type=submit] {
	background-color: var(--medGray);
	color: var(--lightGray);
	border: solid 1px var(--lightGray);
	padding: 2px 5px;
}

input[type=submit]:hover {
	background-color: var(--darkGray);
}

.gamesInfoSection {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--lightGray);
	border: solid 5px var(--darkGray);
	padding: 10px;
	border-radius: 10px;
	margin-top: 5px;
}

.gameDataPoint {
	display: flex;
	align-items: center;
	flex-direction: column;
	border: solid 5px var(--medGray);
	flex: 1;
	margin-bottom: 10px;
}

.gameDataPoint h3 {
	display: inline-block;
	width: auto;
}

.gameDataPoint h3:nth-child(1) {
	font-weight: 400;
}

.timePlayedContainer {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.timePlayedContainer h3 {
	background-color: var(--lightGray);
	color: var(--darkGray);
	padding: 10px;
	border-radius: 10px;
	font-weight: 400;
}

.sortOptionContainer {
	display: flex;
	align-items: center;
	margin: 5px 0px;
	justify-content: space-around;
}

.sortOption select {
	background-color: var(--lightGray);
}

.sortOptionContainer h4 {
	margin: 0px;
	margin-right: 10px;
}

.gameWithAchievementsContainer {
	background-color: var(--lightGray);
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.gameWithAchievementsContainer a {
	font-size: 1rem;
}

.gameWithAchievementsContainer h3,
.gameWithoutAchievements h3,
.gameWithAchievementsContainer h4,
.gameWithoutAchievements h4 {
	font-size: 0.9rem;
}

.gameTitleInfo {
	display: flex;
	align-items: center;
}

.gameTitleInfo>* {
	display: inline-block;
	margin-right: 10px;
}

.gameTitleLink,
.achievementLink {
	display: flex;
	font-size: 1.2rem;
	font-weight: 600;
	color: black;
	background-color: var(--darkGray);
	border: solid 5px var(--medGray);
	color: var(--lightGray);
	padding-right: 10px;
	transition: all var(--transitionSpeed);
}

.gameTitleLink:hover,
.achievementLink:hover {
	background-color: var(--lightGray);
	color: var(--darkGray);
	transition: all var(--transitionSpeed);
}

.specificGameDataPoint {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--medGray);
	border: solid 5px var(--darkGray);
	color: var(--lightGray);
	border-radius: 10px;
	padding: 5px;
}

.specificGameDataPoint h4 {
	margin: 0px;
}

.specificGameDataPoint p {
	margin: 0px;
	margin-top: 3px;
	font-weight: 600;
	font-size: 1rem;
}

.dlc,
.notPlayed {
	padding: 3px;
	padding-right: 4px;
	border-radius: 10px;
	color: var(--lightGray);
	display: inline-block;
}

.dlc {
	background-color: var(--dlc);
}

.notPlayed {
	background-color: var(--notPlayed);
	font-weight: 400;
}

.achievementGraph {
	position: relative;
	background-color: var(--graphBackground);
}

.achievementGraph {
	display: flex;
	align-items: flex-end;
	height: var(--graphHeight);
	width: 100%;
}

.graphVerticalBar {
	display: flex;
	flex-direction: column;
}

.horizontalGraphLine {
	width: 100%;
	height: 1px;
	position: absolute;
	opacity: 1;
}

.ninetyPercent {
	background-color: yellowgreen;
	top: calc(var(--graphHeight)*0.1);
}

.fiftyPercent {
	background-color: yellow;
	top: calc(var(--graphHeight)/2);
}

.tenPercent {
	background-color: rgb(252, 108, 108);
	top: calc(var(--graphHeight)*0.9);
}

.averagePercentLine {
	background-color: white;
	height: 2px;
	opacity: 0.8;
}

.averagePercent {
	padding: 3px;
	margin: 3px 0px;
}

.achievementList {
	display: flex;
	flex-wrap: wrap;
}

.achievementList div {
	display: flex;
	align-items: flex-start;
	margin-top: 1px;
	margin-right: 1px;
}

.achievementList h3 {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: inline-block;
	padding: 3px;
	padding-top: 12px;
	min-width: 51px;
	height: 40px;
}

.achieved {
	color: white;
}

.achievementLink {
	display: flex;
	margin: 5px 0px;
	font-size: 1.15rem;
}

.achievementLink h3 {
	margin-right: 20px;
}

.gameWithoutAchievementsDivision {
	background-color: var(--darkGray);
	color: var(--lightGray);
	border: solid 5px var(--lightGray);
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	margin: 30px 0px;
}

.gameWithoutAchievements {
	margin: 10px 0px;
}